<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Show contacts</title>
</head>
<body>
<section>
    <div class="card mr-3 ml-3">
        <div class="card-body">
            <h1 class="text-center"> Your Contacts</h1>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="c : ${contacts}"> <!--Getting list of contacts from, m.addAttribute("contacts", contacts);-->
                    <th scope="row" th:text="${'SCMUSER'+ c.cId}">1</th>
                    <td th:text="${c.name}">Mark</td>
                    <td th:text="${c.email}">Otto</td>
                    <td th:text="${c.phone}">@mdo</td>
                    <td>
                        <button class="btn btn-sm btn-danger">Delete</button>
                        <button class="btn btn-sm btn-primary">Update</button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
		   
		   
		   
                    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
                    
                
                    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
        </div>
    </div>
</section>


<!-- 
Pagination...

1. Get bootstrap pagination first and add this code to show_contacts.html
2. from backend we are going to send the contacts to page...e.g 5, 10, 15 etc..
3. we have to use PathVariable("page") as Integer page.
4. //replacing List with Page, Pageable will have current page & records per page. (in ContactRepository.java)
public Page<Contact> findContactsByUser(@Param("userId") int userId, Pageable pageable); 

5. In UserController.java
	//this is going to return Page<Contact> of contacts not List<> of contacts
        Page<Contact> contacts = this.contactRepository.findContactsByUser(user.getId(), pageable); //using user, we can get their id.

        //adding pagination, getting list of contacts
        m.addAttribute("contacts", contacts); //getting current page (already getting earlier also)
        m.addAttribute("currentPage", page); //contacts per page.
        m.addAttribute("totalPage", contacts.getTotalPages());

6. now we will come to front end where we have added bootstrap page code and lets modify it. -->


</body>
</html>